Repository dliskevch/rel, changes with the labels that .github/labeler.yaml gives for each.
All labels: ASA, ASA/AWS, helm-chart

Create validate.yaml
  .github/workflows/validate.yaml
Labels: ASA

fix: Update terraform.tfvars
  ASA/AWS/Terraform/ASA_A_A_Single_AZ/terraform.tfvars
Labels: ASA, ASA/AWS

Update validate.yaml
  .github/workflows/validate.yaml
Labels: ASA

fix: Update terraform.tfvars (#33)
  .github/workflows/validate.yaml
  ASA/AWS/Terraform/ASA_A_A_Single_AZ/terraform.tfvars
Labels: ASA, ASA/AWS

Update release-please-config.json
  release-please-config.json
Labels: ASA

fix: Update README.md
  ASA/AWS/Terraform/ASA_Single_Instances_AZ/README.md
Labels: ASA, ASA/AWS

fix: Update values.yaml
  helm-chart/values.yaml
Labels: ASA, helm-chart

fix: Update terraform.tfvars
  ASA/AWS/Terraform/ASA_A_A_Multiple_AZ/terraform.tfvars
Labels: ASA, ASA/AWS

fix: Update outputs.tf
  ASA/Azure/Terraform/modules/MultiInstanceMultiAZ/outputs.tf
Labels: ASA

fix: add Test (#36)
  ASA/AWS/Terraform/ASA_A_A_Multiple_AZ/terraform.tfvars
  ASA/Azure/Terraform/modules/MultiInstanceMultiAZ/outputs.tf
  helm-chart/values.yaml
Labels: ASA, ASA/AWS, helm-chart

Update release.yml
  .github/workflows/release.yml
Labels: ASA

Update release.yml
  .github/workflows/release.yml
Labels: ASA

Delete ASA/.DS_Store
  ASA/.DS_Store
Labels: ASA

Create pr.yaml
  .github/workflows/pr.yaml
Labels: ASA

Update values.yaml
  helm-chart/values.yaml
Labels: ASA, helm-chart

Update validate.yaml
  .github/workflows/validate.yaml
Labels: ASA

Update 12.md
  12.md
Labels: ASA

.github/labeler.yaml:

ASA:
  - "ASA/**"
  - "!ASA/AWS/**"

ASA/AWS:
  - "ASA/AWS/**"

helm-chart:
  - "helm-chart/**"
